h2 {
  font-family: "Bahnschrift Light", sans-serif;
  text-align: center;
  font-size: 30px;
  padding-top: 80px;
  color: #345463;
}

body {
  background-image: url(./images/weather.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

